* {
  font-family: "Rufina", serif;
}

@import url(//fonts.googleapis.com/css?family=Salsa);
.sale-banner {
  height: 280px;
  width: 100%;
  opacity: 0.3;
}
.sale-btn {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 7px;
}
.category-image {
  height: 350px;
  margin-bottom: 40px;
}
.category-text {
  font-family: "Salsaa", regular;
  position: absolute;
  top: 146px;
  width: 90%;
  height: 82px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 2;
  background: rgba(255, 255, 255, 0.58);
}
.brand-image {
  height: 655px;
  margin-bottom: 40px;
}
.brand-image-logo {
  position: absolute;
  top: 496px;
  width: 363px;
  height: 127x;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 2;
  background: rgba(255, 255, 255, 0.58);
}

/* ---------------------------PRODUCTS PAGE------------------------------------------------- */

.cover-photo-section {
  height: 300px;
  position: relative;
}

.cover-img {
  height: 300px;
  width: 100%;
}

.cover-text {
  width: 100%;
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title-line {
  width: 200px;
}

.cover-title {
  font-family: "Rufina", serif;
  color: #ffffff;
  font-size: 48px;
  margin: 0 20px;
}

.cover-detail-text {
  width: 50vw;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  font-family: "Rufina", serif;
}

.section1-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 13vw;
  font-family: "Rufina", serif;
}

.section1-features {
  display: flex;
}

.down-arrow {
  width: 12px;
  margin-left: 5px;
  margin-top: -15px;
  cursor: pointer;
}

.section2 {
  display: flex;
}

.first-section {
  width: 20%;
}

.price-section,
.dress-section,
.catalogue-section {
  margin-top: 50px;
}

.price,
.dress,
.catalogue {
  display: flex;
}

.price p,
.dress p,
.catalogue p {
  margin-left: 5px;
}

.pdi-item,
.ddi-item,
.cdi-item {
  display: flex;
}
.pdi-item label,
.ddi-item label,
.cdi-item label {
  margin-top: 9px;
}

.trc-title {
  font-size: 18px;
  margin-top: 30px;
}

.trc-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  align-items: center;
}

.is-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  align-items: center;
  margin: 0px 20px;
}

.is-1-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-1-title {
  margin-top: 10px;
  font-weight: bold;
}

.icons {
  position: absolute;
  bottom: 25px;
}

.icons img {
  width: 50px;
}

.is-image {
  width: 480px;
}

.price-font {
  font-family: "Saira", sans-serif;
}

.container1 {
  margin: 0 12vw;
}

.first-section {
  margin-right: 10px;
}

.items-section {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 50px;
}

.fs-title {
  cursor: pointer;
}

/* FOOTER SECTION */

.footer-container {
  background-color: #fdfdfd;
  margin-top: 100px;
  height: 500px;
}

.footer-items {
  height: 300px;
  margin: 100px 12vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.glowglam-logo {
  width: 344px;
}

.hr-short {
  width: 172px;
}

.cursor-pointer {
  cursor: pointer;
}

.footer-input {
  width: 300px;
}

.footer-signup-btn {
  margin: 20px 0px;
  border: 2px solid grey;
}

.footer-signup-btn:hover {
  background-color: rgb(80, 78, 78);
  transition: 0.5s ease;
  color: #ffffff;
  border: 2px solid rgb(80, 78, 78);
}

.offer {
  background-color: #c2970b;
  border-radius: 100%;
  padding: 5px 5px;
  position: absolute;
  top: 10px;
  left: 5px;
}

.offer p {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  color: #fdfdfd;
  font-size: 20px;
}

/* ----------------------------DETAILED PRODUCTS PAGE-------------------------------------- */

.dp-section1-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.dp-img-large img {
  width: 500px;
  margin-right: 30px;
}

.dp-img-small img {
  width: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}

.dp-s1-title {
  font-size: 32px;
}

.dp-s1-price {
  font-size: 30px;
}

.dp-in-stock {
  color: rgb(50, 179, 50);
}

.dp-s1-details {
  margin-top: 20px;
}

.dp-s1-details-title {
  font-size: 25px;
}

.dp-s1-sizes {
  display: flex;
}

.dp-s1-sizes p {
  cursor: pointer;
  margin-right: 20px;
  border: 2px solid black;
  padding: 2px 20px;
  border-radius: 10px;
}

.dp-s1-size-chart {
  display: flex;
  cursor: pointer;
  width: fit-content;
}

.dp-s1-size-chart p {
  text-decoration: underline;
  margin-top: 13px;
  margin-right: 10px;
}

.dp-s1-size-chart img {
  width: 15px;
}

.dp-s1-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border: 2px solid #5c5b5b;
  width: fit-content;
  height: 50px;
  padding: 0px 20px;
  color: #5c5b5b;
}

.dp-s1-quantity p {
  padding: 0 10px;
  margin-bottom: 0px;
}

.plus {
  font-size: 35px;
  margin-top: -3px;
  cursor: pointer;
}
.minus {
  font-size: 45px;
  cursor: pointer;
}

.dp-s1-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dp-s1-btn button {
  font-size: 20px;
  margin-top: 20px;
}

.dp-s1-ATC-btn {
  border: 1px solid #5c5b5b;
  width: 100%;
  background-color: #5c5b5b;
  color: white;
  padding: 10px 0px;
}

.dp-s1-CWW-btn {
  border: 1px solid #5c5b5b;
  width: 100%;
  padding: 10px 0px;
}

.dp-s1-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dp-s1-socials p {
  font-size: 18px;
  margin-right: 20px;
}

.dp-s1-social-icons img {
  margin-right: 5px;
  cursor: pointer;
}

.dAndR {
  display: flex;
  justify-content: space-between;
}

.dAndR img {
  width: 15px;
  height: fit-content;
  cursor: pointer;
}

.dp-section2-container,
.dp-section3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.dp-section2-title,
.dp-section3-title {
  font-size: 30px;
}

.dp-s2-items,
.dp-s3-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dp-s2-item,
.dp-s3-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0pc 10px;
  border: 1px solid #5c5b5b;
  padding: 20px 20px;
  cursor: pointer;
}

.dp-s2-img,
.dp-s3-img {
  width: 270px;
}

.arrow {
  width: 15px;
  height: fit-content;
  cursor: pointer;
  margin: 0px 20px;
}

/* ----------------------------ALL CATALOGUE PAGE--------------------------------------- */

.ac-section1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ac-s1-title {
  font-size: 35px;
  color: #737272;
  margin: 20px 0px;
}

.ac-s1-catalogue {
  display: grid;
  grid-template-columns: auto auto auto;
}

.ac-s1-cat-image {
  position: relative;
  margin: 20px 10px;
  cursor: pointer;
}

.ac-s1-cat-image img {
  width: 400px;
}

.ac-s1-cat-name {
  font-size: 26px;
  background-color: black;
  width: 100%;
  color: #ffffff;
  text-align: center;
  height: 60px;
  position: absolute;
  top: 50%;
}

/* ----------------------------CHECKOUT PAGE--------------------------------------- */

.checkout-container {
  background-color: #fcfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20vw;
}

.c-section1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}

.c-login {
  background-color: #ffffff;
  border: 1px solid #5c5b5b;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 500px;
  padding: 10px 20px;
}

.c-login-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-login-info-login {
  margin-top: 10px;
  color: #38383880;
}

.c-login-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.c-login-n {
  margin-right: 20px;
}

.c-login-change {
  cursor: pointer;
}

.c-shipping {
  background-color: #ffffff;
  border: 1px solid #5c5b5b;
  border-radius: 5px;
  height: 50px;
  width: 500px;
  padding: 10px 20px;
  margin-top: 20px;
}

.c-name {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.c-f-name {
  margin-right: 50px;
}

.c-form-input {
  border: 1px solid #5c5b5b;
  background-color: #ffffff;
}

.c-address,
.c-location,
.c-delivery-options {
  margin-top: 20px;
}

.c-address-input {
  width: 100%;
}

.c-do-option {
  display: flex;
}

.c-do-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.c-do-value {
  margin-top: 10px;
  margin-right: 20px;
}

.c-submit-btn {
  border: 1px solid #000000;
  width: 100%;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 100px;
}

.c-s2-your-order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: 40px 20px;
  margin-left: 30px;
  min-width: 400px;
}

.c-s2-title {
  font-size: 30px;
}

.c-s2-order {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.c-price {
  margin-left: 20px;
  font-size: 25px;
  color: #000000;
}

.c-s2-order-details {
  margin-left: 20px;
}

.c-id {
  color: #737272;
}

/* ------------------LOGIN PAGE----------------------------------- */

.login-container {
  height: 800px;
  position: relative;
}

.login-cover {
  height: 100%;
  width: 100%;
}

.login-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 10px solid #000000;
  padding: 20px 50px;
  background-color: #ffffff;
  width: 50%;
  position: absolute;
  top: 50px;
  left: 25%;
}

.login-m-logo {
  width: 300px;
}

.login-or {
  display: flex;
}

.login-or-text {
  margin: 0px 5px;
}

.login-hr {
  width: 200px;
}

.login-form {
  width: 400px;
  min-width: 200px;
  margin-bottom: 10px;
}

.login-btn {
  width: 400px;
  min-width: 200px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}

/* ----------------CREATE ACCOUNT PAGE---------------- */

.caa-title {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}
